/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "mouse";
  src: url("../assets/fonts/MouseMemoirs-Regular.ttf");
}
body {
  font-family: "mouse";
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* Global reset end */
body {
  background-image: url("../assets/images/background-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
body main .menu_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  border-radius: 70px;
  padding: 50px;
  border-top: 10px solid #2463ff;
  border-left: 3px solid #2463ff;
  border-right: 3px solid #2463ff;
  background: rgb(52, 74, 186);
  background: linear-gradient(180deg, rgb(52, 74, 186) 0%, rgba(0, 20, 121, 0.83) 100%);
}
@media only screen and (max-width: 500px) {
  body main .menu_content {
    height: 450px;
  }
}
body main .menu_content .logo {
  position: absolute;
  top: -100px;
  width: 350px;
}
@media only screen and (max-width: 500px) {
  body main .menu_content .logo {
    width: 300px;
    top: -80px;
  }
}
@media only screen and (max-width: 400px) {
  body main .menu_content .logo {
    width: 250px;
    top: -60px;
  }
}
body main .menu_content #playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 50%;
  border: none;
  border-bottom: 7px solid;
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
}
body main .menu_content #playBtn:hover {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgba(254, 113, 254, 0.7) 0%, rgba(199, 129, 254, 0.7) 39%, rgba(113, 153, 255, 0.7) 100%);
}
body main .menu_content #playBtn img {
  width: 60px;
}
body main .menu_content #tutorialBtn {
  position: absolute;
  bottom: 40px;
  background-color: #2463ff;
  border: none;
  color: #ffffff;
  font-family: "mouse";
  font-size: 32px;
  padding: 12px 60px;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .menu_content #tutorialBtn:hover {
  opacity: 0.8;
}

.menuBody {
  align-items: center !important;
}

.menuMain {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

body main {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
body main .tutorial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
body main .tutorial .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
body main .tutorial .title h2 {
  font-size: 130px;
  letter-spacing: -1px;
  background: linear-gradient(180deg, rgb(103, 182, 255) 0%, rgb(255, 255, 255) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #243041;
}
@media only screen and (max-width: 950px) {
  body main .tutorial .title h2 {
    font-size: 100px;
    -webkit-text-stroke: 3px #243041;
  }
}
@media only screen and (max-width: 600px) {
  body main .tutorial .title h2 {
    font-size: 80px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 400px) {
  body main .tutorial .title h2 {
    font-size: 50px;
  }
}
body main .tutorial .title #goBack {
  position: absolute;
  left: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  border-bottom: 3px solid;
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
}
@media only screen and (max-width: 600px) {
  body main .tutorial .title #goBack {
    padding: 15px;
  }
}
body main .tutorial .title #goBack:hover {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgba(254, 113, 254, 0.7) 0%, rgba(199, 129, 254, 0.7) 39%, rgba(113, 153, 255, 0.7) 100%);
}
body main .tutorial .title #goBack img {
  width: 40px;
}
@media only screen and (max-width: 600px) {
  body main .tutorial .title #goBack img {
    width: 25px;
  }
}
body main .tutorial .tutorial_container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 60px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 950px) {
  body main .tutorial .tutorial_container {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 600px) {
  body main .tutorial .tutorial_container {
    margin-top: 20px;
  }
}
body main .tutorial .tutorial_container .tutorial_box {
  width: 32%;
  background-color: #ffffff;
  border-radius: 40px;
  text-align: center;
  padding: 60px 48px;
}
@media only screen and (max-width: 1100px) {
  body main .tutorial .tutorial_container .tutorial_box {
    padding: 40px 28px;
  }
}
@media only screen and (max-width: 950px) {
  body main .tutorial .tutorial_container .tutorial_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body main .tutorial .tutorial_container .tutorial_box:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  body main .tutorial .tutorial_container .tutorial_box {
    padding: 15px 10px;
  }
}
body main .tutorial .tutorial_container .tutorial_box span {
  font-size: 88px;
  color: #2463ff;
}
@media only screen and (max-width: 600px) {
  body main .tutorial .tutorial_container .tutorial_box span {
    font-size: 50px;
  }
}
@media only screen and (max-width: 950px) {
  body main .tutorial .tutorial_container .tutorial_box .info {
    text-align: left;
    margin-left: 30px;
  }
}
body main .tutorial .tutorial_container .tutorial_box .info h3 {
  font-size: 40px;
  letter-spacing: 2px;
  color: #261676;
  padding: 40px 0px;
}
@media only screen and (max-width: 1100px) {
  body main .tutorial .tutorial_container .tutorial_box .info h3 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 950px) {
  body main .tutorial .tutorial_container .tutorial_box .info h3 {
    padding: 0px;
  }
}
@media only screen and (max-width: 400px) {
  body main .tutorial .tutorial_container .tutorial_box .info h3 {
    font-size: 24px;
  }
}
body main .tutorial .tutorial_container .tutorial_box .info p {
  font-size: 22px;
  color: #887dc0;
  letter-spacing: 2px;
  line-height: 120%;
}
@media only screen and (max-width: 950px) {
  body main .tutorial .tutorial_container .tutorial_box .info p {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 950px) {
  body main .tutorial .tutorial_container .tutorial_box .info p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 400px) {
  body main .tutorial .tutorial_container .tutorial_box .info p {
    font-size: 16px;
  }
}

body main {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
body main .categories_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
body main .categories_container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
body main .categories_container .title h2 {
  font-size: 130px;
  letter-spacing: -1px;
  background: linear-gradient(180deg, rgb(103, 182, 255) 0%, rgb(255, 255, 255) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #243041;
}
@media only screen and (max-width: 950px) {
  body main .categories_container .title h2 {
    font-size: 90px;
    -webkit-text-stroke: 3px #243041;
  }
}
@media only screen and (max-width: 600px) {
  body main .categories_container .title h2 {
    font-size: 70px;
    margin-left: auto;
  }
}
@media only screen and (max-width: 400px) {
  body main .categories_container .title h2 {
    font-size: 50px;
  }
}
body main .categories_container .title #goBack2 {
  position: absolute;
  left: 0;
  padding: 20px;
  border-radius: 50%;
  border: none;
  border-bottom: 3px solid;
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
}
@media only screen and (max-width: 600px) {
  body main .categories_container .title #goBack2 {
    padding: 15px;
  }
}
body main .categories_container .title #goBack2:hover {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgba(254, 113, 254, 0.7) 0%, rgba(199, 129, 254, 0.7) 39%, rgba(113, 153, 255, 0.7) 100%);
}
body main .categories_container .title #goBack2 img {
  width: 40px;
}
@media only screen and (max-width: 600px) {
  body main .categories_container .title #goBack2 img {
    width: 25px;
  }
}
body main .categories_container .cat_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
body main .categories_container .cat_row .cat {
  background-color: #2463ff;
  border: 1px solid rgb(68, 119, 248);
  border-radius: 40px;
  width: 32%;
  text-align: center;
  padding: 30px 0px;
  margin-top: 20px;
  cursor: pointer;
  transition: 250ms;
}
body main .categories_container .cat_row .cat:hover {
  background-color: rgb(68, 119, 248);
  transition: 250ms;
}
@media only screen and (max-width: 700px) {
  body main .categories_container .cat_row .cat {
    width: 49%;
  }
}
@media only screen and (max-width: 500px) {
  body main .categories_container .cat_row .cat {
    width: 100%;
  }
}
body main .categories_container .cat_row .cat span {
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 2px;
}
@media only screen and (max-width: 950px) {
  body main .categories_container .cat_row .cat span {
    font-size: 40px;
  }
}
@media only screen and (max-width: 400px) {
  body main .categories_container .cat_row .cat span {
    font-size: 30px;
  }
}

body main {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
body main .game_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
body main .game_container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
body main .game_container .header .left {
  display: flex;
  justify-content: auto;
  align-items: center;
}
body main .game_container .header .left .menu #menuBtn {
  padding: 20px;
  border-radius: 50%;
  border: none;
  border-bottom: 3px solid;
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
}
@media only screen and (max-width: 600px) {
  body main .game_container .header .left .menu #menuBtn {
    padding: 15px;
  }
}
@media only screen and (max-width: 400px) {
  body main .game_container .header .left .menu #menuBtn {
    padding: 12px;
  }
}
body main .game_container .header .left .menu #menuBtn:hover {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgba(254, 113, 254, 0.8) 0%, rgba(199, 129, 254, 0.8) 39%, rgba(113, 153, 255, 0.8) 100%);
}
body main .game_container .header .left .menu #menuBtn img {
  width: 36px;
  display: flex;
}
@media only screen and (max-width: 950px) {
  body main .game_container .header .left .menu #menuBtn img {
    width: 30px;
  }
}
@media only screen and (max-width: 600px) {
  body main .game_container .header .left .menu #menuBtn img {
    width: 20px;
  }
}
@media only screen and (max-width: 400px) {
  body main .game_container .header .left .menu #menuBtn img {
    width: 18px;
  }
}
body main .game_container .header .left .title {
  margin-left: 50px;
}
@media only screen and (max-width: 950px) {
  body main .game_container .header .left .title {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 600px) {
  body main .game_container .header .left .title {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 400px) {
  body main .game_container .header .left .title {
    margin-left: 15px;
  }
}
body main .game_container .header .left .title span {
  font-size: 80px;
  color: #ffffff;
}
@media only screen and (max-width: 950px) {
  body main .game_container .header .left .title span {
    font-size: 60px;
  }
}
@media only screen and (max-width: 600px) {
  body main .game_container .header .left .title span {
    font-size: 40px;
  }
}
body main .game_container .header .right {
  display: flex;
  justify-content: auto;
  align-items: center;
}
body main .game_container .header .right .live_bar {
  display: flex;
  justify-content: auto;
  align-items: center;
  background-color: #ffffff;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  padding: 0px 10px;
  margin-right: 30px;
}
@media only screen and (max-width: 700px) {
  body main .game_container .header .right .live_bar {
    width: 150px;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 600px) {
  body main .game_container .header .right .live_bar {
    width: 100px;
    margin-right: 15px;
    padding: 0px 8px;
  }
}
@media only screen and (max-width: 400px) {
  body main .game_container .header .right .live_bar {
    width: 70px;
    height: 20px;
    margin-right: 10px;
    padding: 0px 5px;
  }
}
body main .game_container .header .right .live_bar .bar {
  height: 15px;
  width: 100%;
  background-color: #261676;
  border-radius: 50px;
}
@media only screen and (max-width: 400px) {
  body main .game_container .header .right .live_bar .bar {
    height: 12px;
  }
}
body main .game_container .header .right img {
  width: 50px;
}
@media only screen and (max-width: 600px) {
  body main .game_container .header .right img {
    width: 30px;
  }
}
body main .game_container .word_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
body main .game_container .word_container .word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
  height: 100px;
  background-color: rgba(38, 22, 118, 0.6705882353);
  margin: 10px;
  font-size: 70px;
  border-radius: 40px;
  color: #ffffff;
}
@media only screen and (max-width: 950px) {
  body main .game_container .word_container .word {
    font-size: 50px;
    height: 80px;
    padding: 5px;
  }
}
@media only screen and (max-width: 500px) {
  body main .game_container .word_container .word {
    font-size: 40px;
    height: 50px;
  }
}
body main .game_container .word_container .guessedWord {
  background-color: #2463ff;
}
body main .game_container .word_container .space {
  opacity: 0;
}
body main .game_container .keyboard_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
body main .game_container .keyboard_container .key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 70px;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 250ms;
}
body main .game_container .keyboard_container .key:hover {
  background-color: #2463ff;
  transition: 250ms;
}
body main .game_container .keyboard_container .key:hover span {
  color: #ffffff;
}
body main .game_container .keyboard_container .key:disabled {
  opacity: 0.25;
}
body main .game_container .keyboard_container .key:disabled:hover {
  background-color: #ffffff;
}
body main .game_container .keyboard_container .key:disabled:hover span {
  color: #261676;
}
@media only screen and (max-width: 950px) {
  body main .game_container .keyboard_container .key {
    height: 50px;
  }
}
@media only screen and (max-width: 500px) {
  body main .game_container .keyboard_container .key {
    margin: 5px;
    height: 40px;
  }
}
body main .game_container .keyboard_container .key span {
  color: #261676;
  font-size: 45px;
  font-family: "mouse";
}
@media only screen and (max-width: 950px) {
  body main .game_container .keyboard_container .key span {
    font-size: 35px;
  }
}
@media only screen and (max-width: 500px) {
  body main .game_container .keyboard_container .key span {
    font-size: 30px;
  }
}
body main .win_cont {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  padding: 50px;
  height: 500px;
  border-radius: 70px;
  border-top: 10px solid #2463ff;
  border-left: 3px solid #2463ff;
  border-right: 3px solid #2463ff;
  background: rgb(52, 74, 186);
  background: linear-gradient(180deg, rgb(52, 74, 186) 0%, rgba(0, 20, 121, 0.83) 100%);
}
@media only screen and (max-width: 500px) {
  body main .win_cont {
    height: 450px;
  }
}
@media only screen and (max-width: 500px) {
  body main .win_cont {
    padding: 50px 30px;
  }
}
body main .win_cont .win_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body main .win_cont .win_content h3 {
  position: absolute;
  top: -120px;
  text-align: center;
  font-size: 130px;
  letter-spacing: -1px;
  background: linear-gradient(180deg, rgb(103, 182, 255) 0%, rgb(255, 255, 255) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #243041;
}
@media only screen and (max-width: 500px) {
  body main .win_cont .win_content h3 {
    top: -110px;
    font-size: 100px;
    -webkit-text-stroke: 3px #243041;
  }
}
@media only screen and (max-width: 400px) {
  body main .win_cont .win_content h3 {
    top: -100px;
    font-size: 80px;
  }
}
body main .win_cont .win_content button {
  font-family: "mouse";
  font-size: 32px;
  color: #ffffff;
  padding: 12px 60px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
}
@media only screen and (max-width: 500px) {
  body main .win_cont .win_content button {
    font-size: 28px;
    padding: 12px 50px;
  }
}
body main .win_cont .win_content #restart {
  background-color: #2463ff;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .win_cont .win_content #restart:hover {
  opacity: 0.8;
}
body main .win_cont .win_content #goCat {
  background-color: #2463ff;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .win_cont .win_content #goCat:hover {
  opacity: 0.8;
}
body main .win_cont .win_content #quit {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
  border-radius: 40px;
  border-top: 5px solid #887dc0;
  border-left: 4px solid #887dc0;
  border-right: 4px solid #887dc0;
}
body main .win_cont .win_content #quit:hover {
  opacity: 0.8;
}
body main .lose_cont {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  padding: 50px;
  height: 500px;
  border-radius: 70px;
  border-top: 10px solid #2463ff;
  border-left: 3px solid #2463ff;
  border-right: 3px solid #2463ff;
  background: rgb(52, 74, 186);
  background: linear-gradient(180deg, rgb(52, 74, 186) 0%, rgba(0, 20, 121, 0.83) 100%);
}
@media only screen and (max-width: 500px) {
  body main .lose_cont {
    height: 450px;
  }
}
@media only screen and (max-width: 500px) {
  body main .lose_cont {
    padding: 50px 30px;
  }
}
body main .lose_cont .lose_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body main .lose_cont .lose_content h3 {
  position: absolute;
  top: -120px;
  text-align: center;
  font-size: 130px;
  letter-spacing: -1px;
  background: linear-gradient(180deg, rgb(103, 182, 255) 0%, rgb(255, 255, 255) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #243041;
}
@media only screen and (max-width: 500px) {
  body main .lose_cont .lose_content h3 {
    top: -110px;
    font-size: 100px;
    -webkit-text-stroke: 3px #243041;
  }
}
@media only screen and (max-width: 400px) {
  body main .lose_cont .lose_content h3 {
    top: -100px;
    font-size: 80px;
  }
}
body main .lose_cont .lose_content button {
  font-family: "mouse";
  font-size: 32px;
  color: #ffffff;
  padding: 12px 60px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
}
@media only screen and (max-width: 500px) {
  body main .lose_cont .lose_content button {
    font-size: 28px;
    padding: 12px 50px;
  }
}
body main .lose_cont .lose_content #restart2 {
  background-color: #2463ff;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .lose_cont .lose_content #restart2:hover {
  opacity: 0.8;
}
body main .lose_cont .lose_content #goCat2 {
  background-color: #2463ff;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .lose_cont .lose_content #goCat2:hover {
  opacity: 0.8;
}
body main .lose_cont .lose_content #quit2 {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
  border-radius: 40px;
  border-top: 5px solid #887dc0;
  border-left: 4px solid #887dc0;
  border-right: 4px solid #887dc0;
}
body main .lose_cont .lose_content #quit2:hover {
  opacity: 0.8;
}
body main .pause_cont {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
  padding: 50px;
  height: 500px;
  border-radius: 70px;
  border-top: 10px solid #2463ff;
  border-left: 3px solid #2463ff;
  border-right: 3px solid #2463ff;
  background: rgb(52, 74, 186);
  background: linear-gradient(180deg, rgb(52, 74, 186) 0%, rgba(0, 20, 121, 0.83) 100%);
}
@media only screen and (max-width: 500px) {
  body main .pause_cont {
    height: 450px;
  }
}
@media only screen and (max-width: 500px) {
  body main .pause_cont {
    padding: 50px 30px;
  }
}
body main .pause_cont .pause_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body main .pause_cont .pause_content h3 {
  position: absolute;
  top: -120px;
  text-align: center;
  font-size: 130px;
  letter-spacing: -1px;
  background: linear-gradient(180deg, rgb(103, 182, 255) 0%, rgb(255, 255, 255) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 5px #243041;
}
@media only screen and (max-width: 500px) {
  body main .pause_cont .pause_content h3 {
    top: -110px;
    font-size: 100px;
    -webkit-text-stroke: 3px #243041;
  }
}
@media only screen and (max-width: 400px) {
  body main .pause_cont .pause_content h3 {
    top: -100px;
    font-size: 80px;
  }
}
body main .pause_cont .pause_content button {
  font-family: "mouse";
  font-size: 32px;
  color: #ffffff;
  padding: 12px 60px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  margin-top: 40px;
}
@media only screen and (max-width: 500px) {
  body main .pause_cont .pause_content button {
    font-size: 28px;
    padding: 12px 50px;
  }
}
body main .pause_cont .pause_content #continue {
  background-color: #2463ff;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .pause_cont .pause_content #continue:hover {
  opacity: 0.8;
}
body main .pause_cont .pause_content #goCat3 {
  background-color: #2463ff;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .pause_cont .pause_content #goCat3:hover {
  opacity: 0.8;
}
body main .pause_cont .pause_content #quit3 {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
  border-radius: 40px;
  border-top: 5px solid #887dc0;
  border-left: 4px solid #887dc0;
  border-right: 4px solid #887dc0;
}
body main .pause_cont .pause_content #quit3:hover {
  opacity: 0.8;
}
body main .overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #261676;
  opacity: 0.7;
}
body main .show {
  display: block;
}
body main .hide {
  display: none;
}/*# sourceMappingURL=global.css.map */