/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "mouse";
  src: url("../assets/fonts/MouseMemoirs-Regular.ttf");
}
body {
  font-family: "mouse";
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global reset end */
body {
  background-image: url("../assets/images/background-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
body main {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
body main .menu_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  border-radius: 70px;
  padding: 50px;
  border-top: 10px solid #2463ff;
  border-left: 3px solid #2463ff;
  border-right: 3px solid #2463ff;
  background: rgb(52, 74, 186);
  background: linear-gradient(180deg, rgb(52, 74, 186) 0%, rgba(0, 20, 121, 0.83) 100%);
}
@media only screen and (max-width: 500px) {
  body main .menu_content {
    height: 450px;
  }
}
body main .menu_content .logo {
  position: absolute;
  top: -100px;
  width: 350px;
}
@media only screen and (max-width: 500px) {
  body main .menu_content .logo {
    width: 300px;
    top: -80px;
  }
}
@media only screen and (max-width: 400px) {
  body main .menu_content .logo {
    width: 250px;
    top: -60px;
  }
}
body main .menu_content #playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 50%;
  border: none;
  border-bottom: 7px solid;
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgb(254, 113, 254) 0%, rgb(199, 129, 254) 39%, rgb(113, 153, 255) 100%);
}
body main .menu_content #playBtn:hover {
  background: rgb(254, 113, 254);
  background: linear-gradient(180deg, rgba(254, 113, 254, 0.7) 0%, rgba(199, 129, 254, 0.7) 39%, rgba(113, 153, 255, 0.7) 100%);
}
body main .menu_content #playBtn img {
  width: 60px;
}
body main .menu_content #tutorialBtn {
  position: absolute;
  bottom: 40px;
  background-color: #2463ff;
  border: none;
  color: #ffffff;
  font-family: "mouse";
  font-size: 32px;
  padding: 12px 60px;
  border-radius: 40px;
  border-top: 5px solid rgb(68, 119, 248);
  border-left: 4px solid rgb(68, 119, 248);
  border-right: 4px solid rgb(68, 119, 248);
}
body main .menu_content #tutorialBtn:hover {
  opacity: 0.8;
}/*# sourceMappingURL=global.css.map */