body {
  main {
    .howToPlay {
      @include cont(flex, space-between, center);
      flex-direction: column;
      display: none;
      position: relative;
      .title {
        h2 {
          font-size: 130px;
          -webkit-text-stroke: 2px $stroke;
          background: linear-gradient(
            180deg,
            rgba(103, 182, 255, 1) 0%,
            rgba(255, 255, 255, 1) 99%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-weight: bold;
        }
      }
      .tutorial_container {
        @include cont(flex, space-between, stretch);
        margin-top: 50px;
        .tutorial_box {
          background-color: $white;
          width: 30%;
          text-align: center;
          border-radius: 40px;
          padding: 40px;
          span {
            font-size: 80px;
            color: $blue;
          }
          h3 {
            color: $dark-navy;
            font-size: 40px;
            padding: 40px 0px;
          }
          p {
            color: $purple;
            font-size: 22px;
            line-height: 120%;
          }
        }
      }
      #goBack {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        border: none;
      }
    }
  }
}
