@mixin cont($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}
@mixin section {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
$l-pc: 1420px; // large PC screen size
$pc: 1260px; // PC screen size.
$l-tablet: 1100px; // tablet screen size
$tablet: 950px; // Tablet screen size.
$m2-tablet: 700px;
$m-tablet: 600px; // Tablet screen size.
$phone: 500px; // Phone screen size.
$m-phone: 400px; // Small Screen size.
$tablet-max: $tablet - 1;
$pc-max: $pc - 1;

@mixin responsive($media) {
  @if $media == l_pc {
    @media only screen and (max-width: $l-pc) {
      @content;
    }
  } @else if $media == m2-tablet {
    @media only screen and (max-width: $m2-tablet) {
      @content;
    }
  } @else if $media == l-tablet {
    @media only screen and (max-width: $l-tablet) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media == m-tablet {
    @media only screen and (max-width: $m-tablet) {
      @content;
    }
  } @else if $media == m-phone {
    @media only screen and (max-width: $m-phone) {
      @content;
    }
  } @else if $media == phone {
    @media only screen and (max-width: $phone) {
      @content;
    }
  }
}
